<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/face') %>
        <%- include('block/screen2') %>
        <%- include('block/screen3') %>
        <%- include('block/screen4') %>
        <%- include('block/screen5') %>
        <footer class="footer">Global Partners LTD</footer>
    </div>
    <%- include('block/script') %>
</body>

</html>